//! **************************************************************************
// Written by: Map P.58f on Thu Nov 19 18:24:24 2015
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_R<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "CPU_RESETN" LOCATE = SITE "C12" LEVEL 1;
COMP "CLK100MHZ" LOCATE = SITE "E3" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "B11" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "B12" LEVEL 1;
PIN temperatureControlMaster/memoryWriter/lut/bram1_pins<32> = BEL
        "temperatureControlMaster/memoryWriter/lut/bram1" PINNAME CLKARDCLK;
PIN temperatureControlMaster/memoryWriter/lut/bram2_pins<32> = BEL
        "temperatureControlMaster/memoryWriter/lut/bram2" PINNAME CLKARDCLK;
PIN wb_bram/gen1[0].bram_pins<63> = BEL "wb_bram/gen1[0].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[0].bram_pins<62> = BEL "wb_bram/gen1[0].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[100].bram_pins<63> = BEL "wb_bram/gen1[100].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[100].bram_pins<62> = BEL "wb_bram/gen1[100].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[101].bram_pins<63> = BEL "wb_bram/gen1[101].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[101].bram_pins<62> = BEL "wb_bram/gen1[101].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[102].bram_pins<63> = BEL "wb_bram/gen1[102].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[102].bram_pins<62> = BEL "wb_bram/gen1[102].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[103].bram_pins<63> = BEL "wb_bram/gen1[103].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[103].bram_pins<62> = BEL "wb_bram/gen1[103].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[104].bram_pins<63> = BEL "wb_bram/gen1[104].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[104].bram_pins<62> = BEL "wb_bram/gen1[104].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[105].bram_pins<63> = BEL "wb_bram/gen1[105].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[105].bram_pins<62> = BEL "wb_bram/gen1[105].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[106].bram_pins<63> = BEL "wb_bram/gen1[106].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[106].bram_pins<62> = BEL "wb_bram/gen1[106].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[107].bram_pins<63> = BEL "wb_bram/gen1[107].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[107].bram_pins<62> = BEL "wb_bram/gen1[107].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[108].bram_pins<63> = BEL "wb_bram/gen1[108].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[108].bram_pins<62> = BEL "wb_bram/gen1[108].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[109].bram_pins<63> = BEL "wb_bram/gen1[109].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[109].bram_pins<62> = BEL "wb_bram/gen1[109].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[10].bram_pins<63> = BEL "wb_bram/gen1[10].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[10].bram_pins<62> = BEL "wb_bram/gen1[10].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[110].bram_pins<63> = BEL "wb_bram/gen1[110].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[110].bram_pins<62> = BEL "wb_bram/gen1[110].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[111].bram_pins<63> = BEL "wb_bram/gen1[111].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[111].bram_pins<62> = BEL "wb_bram/gen1[111].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[112].bram_pins<63> = BEL "wb_bram/gen1[112].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[112].bram_pins<62> = BEL "wb_bram/gen1[112].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[113].bram_pins<63> = BEL "wb_bram/gen1[113].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[113].bram_pins<62> = BEL "wb_bram/gen1[113].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[114].bram_pins<63> = BEL "wb_bram/gen1[114].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[114].bram_pins<62> = BEL "wb_bram/gen1[114].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[115].bram_pins<63> = BEL "wb_bram/gen1[115].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[115].bram_pins<62> = BEL "wb_bram/gen1[115].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[116].bram_pins<63> = BEL "wb_bram/gen1[116].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[116].bram_pins<62> = BEL "wb_bram/gen1[116].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[117].bram_pins<63> = BEL "wb_bram/gen1[117].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[117].bram_pins<62> = BEL "wb_bram/gen1[117].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[118].bram_pins<63> = BEL "wb_bram/gen1[118].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[118].bram_pins<62> = BEL "wb_bram/gen1[118].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[119].bram_pins<63> = BEL "wb_bram/gen1[119].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[119].bram_pins<62> = BEL "wb_bram/gen1[119].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[11].bram_pins<63> = BEL "wb_bram/gen1[11].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[11].bram_pins<62> = BEL "wb_bram/gen1[11].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[120].bram_pins<63> = BEL "wb_bram/gen1[120].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[120].bram_pins<62> = BEL "wb_bram/gen1[120].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[121].bram_pins<63> = BEL "wb_bram/gen1[121].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[121].bram_pins<62> = BEL "wb_bram/gen1[121].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[122].bram_pins<63> = BEL "wb_bram/gen1[122].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[122].bram_pins<62> = BEL "wb_bram/gen1[122].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[123].bram_pins<63> = BEL "wb_bram/gen1[123].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[123].bram_pins<62> = BEL "wb_bram/gen1[123].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[124].bram_pins<63> = BEL "wb_bram/gen1[124].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[124].bram_pins<62> = BEL "wb_bram/gen1[124].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[125].bram_pins<63> = BEL "wb_bram/gen1[125].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[125].bram_pins<62> = BEL "wb_bram/gen1[125].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[126].bram_pins<63> = BEL "wb_bram/gen1[126].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[126].bram_pins<62> = BEL "wb_bram/gen1[126].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[12].bram_pins<63> = BEL "wb_bram/gen1[12].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[12].bram_pins<62> = BEL "wb_bram/gen1[12].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[13].bram_pins<63> = BEL "wb_bram/gen1[13].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[13].bram_pins<62> = BEL "wb_bram/gen1[13].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[14].bram_pins<63> = BEL "wb_bram/gen1[14].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[14].bram_pins<62> = BEL "wb_bram/gen1[14].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[15].bram_pins<63> = BEL "wb_bram/gen1[15].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[15].bram_pins<62> = BEL "wb_bram/gen1[15].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[16].bram_pins<63> = BEL "wb_bram/gen1[16].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[16].bram_pins<62> = BEL "wb_bram/gen1[16].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[17].bram_pins<63> = BEL "wb_bram/gen1[17].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[17].bram_pins<62> = BEL "wb_bram/gen1[17].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[18].bram_pins<63> = BEL "wb_bram/gen1[18].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[18].bram_pins<62> = BEL "wb_bram/gen1[18].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[19].bram_pins<63> = BEL "wb_bram/gen1[19].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[19].bram_pins<62> = BEL "wb_bram/gen1[19].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[1].bram_pins<63> = BEL "wb_bram/gen1[1].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[1].bram_pins<62> = BEL "wb_bram/gen1[1].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[20].bram_pins<63> = BEL "wb_bram/gen1[20].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[20].bram_pins<62> = BEL "wb_bram/gen1[20].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[21].bram_pins<63> = BEL "wb_bram/gen1[21].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[21].bram_pins<62> = BEL "wb_bram/gen1[21].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[22].bram_pins<63> = BEL "wb_bram/gen1[22].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[22].bram_pins<62> = BEL "wb_bram/gen1[22].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[23].bram_pins<63> = BEL "wb_bram/gen1[23].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[23].bram_pins<62> = BEL "wb_bram/gen1[23].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[24].bram_pins<63> = BEL "wb_bram/gen1[24].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[24].bram_pins<62> = BEL "wb_bram/gen1[24].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[25].bram_pins<63> = BEL "wb_bram/gen1[25].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[25].bram_pins<62> = BEL "wb_bram/gen1[25].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[26].bram_pins<63> = BEL "wb_bram/gen1[26].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[26].bram_pins<62> = BEL "wb_bram/gen1[26].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[27].bram_pins<63> = BEL "wb_bram/gen1[27].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[27].bram_pins<62> = BEL "wb_bram/gen1[27].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[28].bram_pins<63> = BEL "wb_bram/gen1[28].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[28].bram_pins<62> = BEL "wb_bram/gen1[28].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[29].bram_pins<63> = BEL "wb_bram/gen1[29].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[29].bram_pins<62> = BEL "wb_bram/gen1[29].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[2].bram_pins<63> = BEL "wb_bram/gen1[2].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[2].bram_pins<62> = BEL "wb_bram/gen1[2].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[30].bram_pins<63> = BEL "wb_bram/gen1[30].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[30].bram_pins<62> = BEL "wb_bram/gen1[30].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[31].bram_pins<63> = BEL "wb_bram/gen1[31].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[31].bram_pins<62> = BEL "wb_bram/gen1[31].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[32].bram_pins<63> = BEL "wb_bram/gen1[32].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[32].bram_pins<62> = BEL "wb_bram/gen1[32].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[33].bram_pins<63> = BEL "wb_bram/gen1[33].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[33].bram_pins<62> = BEL "wb_bram/gen1[33].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[34].bram_pins<63> = BEL "wb_bram/gen1[34].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[34].bram_pins<62> = BEL "wb_bram/gen1[34].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[35].bram_pins<63> = BEL "wb_bram/gen1[35].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[35].bram_pins<62> = BEL "wb_bram/gen1[35].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[36].bram_pins<63> = BEL "wb_bram/gen1[36].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[36].bram_pins<62> = BEL "wb_bram/gen1[36].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[37].bram_pins<63> = BEL "wb_bram/gen1[37].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[37].bram_pins<62> = BEL "wb_bram/gen1[37].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[38].bram_pins<63> = BEL "wb_bram/gen1[38].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[38].bram_pins<62> = BEL "wb_bram/gen1[38].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[39].bram_pins<63> = BEL "wb_bram/gen1[39].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[39].bram_pins<62> = BEL "wb_bram/gen1[39].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[3].bram_pins<63> = BEL "wb_bram/gen1[3].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[3].bram_pins<62> = BEL "wb_bram/gen1[3].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[40].bram_pins<63> = BEL "wb_bram/gen1[40].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[40].bram_pins<62> = BEL "wb_bram/gen1[40].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[41].bram_pins<63> = BEL "wb_bram/gen1[41].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[41].bram_pins<62> = BEL "wb_bram/gen1[41].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[42].bram_pins<63> = BEL "wb_bram/gen1[42].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[42].bram_pins<62> = BEL "wb_bram/gen1[42].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[43].bram_pins<63> = BEL "wb_bram/gen1[43].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[43].bram_pins<62> = BEL "wb_bram/gen1[43].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[44].bram_pins<63> = BEL "wb_bram/gen1[44].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[44].bram_pins<62> = BEL "wb_bram/gen1[44].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[45].bram_pins<63> = BEL "wb_bram/gen1[45].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[45].bram_pins<62> = BEL "wb_bram/gen1[45].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[46].bram_pins<63> = BEL "wb_bram/gen1[46].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[46].bram_pins<62> = BEL "wb_bram/gen1[46].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[47].bram_pins<63> = BEL "wb_bram/gen1[47].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[47].bram_pins<62> = BEL "wb_bram/gen1[47].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[48].bram_pins<63> = BEL "wb_bram/gen1[48].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[48].bram_pins<62> = BEL "wb_bram/gen1[48].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[49].bram_pins<63> = BEL "wb_bram/gen1[49].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[49].bram_pins<62> = BEL "wb_bram/gen1[49].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[4].bram_pins<63> = BEL "wb_bram/gen1[4].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[4].bram_pins<62> = BEL "wb_bram/gen1[4].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[50].bram_pins<63> = BEL "wb_bram/gen1[50].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[50].bram_pins<62> = BEL "wb_bram/gen1[50].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[51].bram_pins<63> = BEL "wb_bram/gen1[51].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[51].bram_pins<62> = BEL "wb_bram/gen1[51].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[52].bram_pins<63> = BEL "wb_bram/gen1[52].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[52].bram_pins<62> = BEL "wb_bram/gen1[52].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[53].bram_pins<63> = BEL "wb_bram/gen1[53].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[53].bram_pins<62> = BEL "wb_bram/gen1[53].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[54].bram_pins<63> = BEL "wb_bram/gen1[54].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[54].bram_pins<62> = BEL "wb_bram/gen1[54].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[55].bram_pins<63> = BEL "wb_bram/gen1[55].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[55].bram_pins<62> = BEL "wb_bram/gen1[55].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[56].bram_pins<63> = BEL "wb_bram/gen1[56].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[56].bram_pins<62> = BEL "wb_bram/gen1[56].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[57].bram_pins<63> = BEL "wb_bram/gen1[57].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[57].bram_pins<62> = BEL "wb_bram/gen1[57].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[58].bram_pins<63> = BEL "wb_bram/gen1[58].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[58].bram_pins<62> = BEL "wb_bram/gen1[58].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[59].bram_pins<63> = BEL "wb_bram/gen1[59].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[59].bram_pins<62> = BEL "wb_bram/gen1[59].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[5].bram_pins<63> = BEL "wb_bram/gen1[5].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[5].bram_pins<62> = BEL "wb_bram/gen1[5].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[60].bram_pins<63> = BEL "wb_bram/gen1[60].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[60].bram_pins<62> = BEL "wb_bram/gen1[60].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[61].bram_pins<63> = BEL "wb_bram/gen1[61].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[61].bram_pins<62> = BEL "wb_bram/gen1[61].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[62].bram_pins<63> = BEL "wb_bram/gen1[62].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[62].bram_pins<62> = BEL "wb_bram/gen1[62].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[63].bram_pins<63> = BEL "wb_bram/gen1[63].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[63].bram_pins<62> = BEL "wb_bram/gen1[63].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[64].bram_pins<63> = BEL "wb_bram/gen1[64].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[64].bram_pins<62> = BEL "wb_bram/gen1[64].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[65].bram_pins<63> = BEL "wb_bram/gen1[65].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[65].bram_pins<62> = BEL "wb_bram/gen1[65].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[66].bram_pins<63> = BEL "wb_bram/gen1[66].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[66].bram_pins<62> = BEL "wb_bram/gen1[66].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[67].bram_pins<63> = BEL "wb_bram/gen1[67].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[67].bram_pins<62> = BEL "wb_bram/gen1[67].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[68].bram_pins<63> = BEL "wb_bram/gen1[68].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[68].bram_pins<62> = BEL "wb_bram/gen1[68].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[69].bram_pins<63> = BEL "wb_bram/gen1[69].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[69].bram_pins<62> = BEL "wb_bram/gen1[69].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[6].bram_pins<63> = BEL "wb_bram/gen1[6].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[6].bram_pins<62> = BEL "wb_bram/gen1[6].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[70].bram_pins<63> = BEL "wb_bram/gen1[70].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[70].bram_pins<62> = BEL "wb_bram/gen1[70].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[71].bram_pins<63> = BEL "wb_bram/gen1[71].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[71].bram_pins<62> = BEL "wb_bram/gen1[71].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[72].bram_pins<63> = BEL "wb_bram/gen1[72].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[72].bram_pins<62> = BEL "wb_bram/gen1[72].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[73].bram_pins<63> = BEL "wb_bram/gen1[73].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[73].bram_pins<62> = BEL "wb_bram/gen1[73].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[74].bram_pins<63> = BEL "wb_bram/gen1[74].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[74].bram_pins<62> = BEL "wb_bram/gen1[74].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[75].bram_pins<63> = BEL "wb_bram/gen1[75].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[75].bram_pins<62> = BEL "wb_bram/gen1[75].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[76].bram_pins<63> = BEL "wb_bram/gen1[76].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[76].bram_pins<62> = BEL "wb_bram/gen1[76].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[77].bram_pins<63> = BEL "wb_bram/gen1[77].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[77].bram_pins<62> = BEL "wb_bram/gen1[77].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[78].bram_pins<63> = BEL "wb_bram/gen1[78].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[78].bram_pins<62> = BEL "wb_bram/gen1[78].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[79].bram_pins<63> = BEL "wb_bram/gen1[79].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[79].bram_pins<62> = BEL "wb_bram/gen1[79].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[7].bram_pins<63> = BEL "wb_bram/gen1[7].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[7].bram_pins<62> = BEL "wb_bram/gen1[7].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[80].bram_pins<63> = BEL "wb_bram/gen1[80].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[80].bram_pins<62> = BEL "wb_bram/gen1[80].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[81].bram_pins<63> = BEL "wb_bram/gen1[81].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[81].bram_pins<62> = BEL "wb_bram/gen1[81].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[82].bram_pins<63> = BEL "wb_bram/gen1[82].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[82].bram_pins<62> = BEL "wb_bram/gen1[82].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[83].bram_pins<63> = BEL "wb_bram/gen1[83].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[83].bram_pins<62> = BEL "wb_bram/gen1[83].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[84].bram_pins<63> = BEL "wb_bram/gen1[84].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[84].bram_pins<62> = BEL "wb_bram/gen1[84].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[85].bram_pins<63> = BEL "wb_bram/gen1[85].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[85].bram_pins<62> = BEL "wb_bram/gen1[85].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[86].bram_pins<63> = BEL "wb_bram/gen1[86].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[86].bram_pins<62> = BEL "wb_bram/gen1[86].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[87].bram_pins<63> = BEL "wb_bram/gen1[87].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[87].bram_pins<62> = BEL "wb_bram/gen1[87].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[88].bram_pins<63> = BEL "wb_bram/gen1[88].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[88].bram_pins<62> = BEL "wb_bram/gen1[88].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[89].bram_pins<63> = BEL "wb_bram/gen1[89].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[89].bram_pins<62> = BEL "wb_bram/gen1[89].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[8].bram_pins<63> = BEL "wb_bram/gen1[8].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[8].bram_pins<62> = BEL "wb_bram/gen1[8].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[90].bram_pins<63> = BEL "wb_bram/gen1[90].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[90].bram_pins<62> = BEL "wb_bram/gen1[90].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[91].bram_pins<63> = BEL "wb_bram/gen1[91].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[91].bram_pins<62> = BEL "wb_bram/gen1[91].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[92].bram_pins<63> = BEL "wb_bram/gen1[92].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[92].bram_pins<62> = BEL "wb_bram/gen1[92].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[93].bram_pins<63> = BEL "wb_bram/gen1[93].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[93].bram_pins<62> = BEL "wb_bram/gen1[93].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[94].bram_pins<63> = BEL "wb_bram/gen1[94].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[94].bram_pins<62> = BEL "wb_bram/gen1[94].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[95].bram_pins<63> = BEL "wb_bram/gen1[95].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[95].bram_pins<62> = BEL "wb_bram/gen1[95].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[96].bram_pins<63> = BEL "wb_bram/gen1[96].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[96].bram_pins<62> = BEL "wb_bram/gen1[96].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[97].bram_pins<63> = BEL "wb_bram/gen1[97].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[97].bram_pins<62> = BEL "wb_bram/gen1[97].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[98].bram_pins<63> = BEL "wb_bram/gen1[98].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[98].bram_pins<62> = BEL "wb_bram/gen1[98].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[99].bram_pins<63> = BEL "wb_bram/gen1[99].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[99].bram_pins<62> = BEL "wb_bram/gen1[99].bram" PINNAME
        CLKARDCLKL;
PIN wb_bram/gen1[9].bram_pins<63> = BEL "wb_bram/gen1[9].bram" PINNAME
        CLKARDCLKU;
PIN wb_bram/gen1[9].bram_pins<62> = BEL "wb_bram/gen1[9].bram" PINNAME
        CLKARDCLKL;
TIMEGRP clock200_inst_clkout0 = BEL "clock200_inst/clkout1_buf" BEL
        "wb_intercon/U08/LMAS0" BEL "wb_intercon/U08/LASMAS" BEL
        "wb_intercon/U08/LGNT0" BEL "wb_intercon/U08/EDGE" BEL
        "wb_intercon/U08/LGNT1" BEL
        "temperatureControlMaster/memoryWriter/state_FSM_FFd1" BEL
        "temperatureControlMaster/memoryWriter/state_FSM_FFd2" BEL
        "temperatureControlMaster/memoryWriter/state_FSM_FFd3" BEL
        "temperatureControlMaster/memoryWriter/adr_o_30" BEL
        "temperatureControlMaster/memoryWriter/adr_o_22" BEL
        "temperatureControlMaster/memoryWriter/adr_o_17" BEL
        "temperatureControlMaster/memoryWriter/adr_o_16" BEL
        "temperatureControlMaster/memoryWriter/adr_o_15" BEL
        "temperatureControlMaster/memoryWriter/adr_o_14" BEL
        "temperatureControlMaster/memoryWriter/adr_o_13" BEL
        "temperatureControlMaster/memoryWriter/adr_o_12" BEL
        "temperatureControlMaster/memoryWriter/adr_o_11" BEL
        "temperatureControlMaster/memoryWriter/adr_o_10" BEL
        "temperatureControlMaster/memoryWriter/adr_o_9" BEL
        "temperatureControlMaster/memoryWriter/adr_o_8" BEL
        "temperatureControlMaster/memoryWriter/adr_o_7" BEL
        "temperatureControlMaster/memoryWriter/adr_o_6" BEL
        "temperatureControlMaster/memoryWriter/adr_o_5" BEL
        "temperatureControlMaster/memoryWriter/adr_o_4" BEL
        "temperatureControlMaster/memoryWriter/adr_o_3" BEL
        "temperatureControlMaster/memoryWriter/adr_o_2" BEL
        "temperatureControlMaster/memoryWriter/alt_l_down" BEL
        "temperatureControlMaster/memoryWriter/dat_o_29" BEL
        "temperatureControlMaster/memoryWriter/dat_o_25" BEL
        "temperatureControlMaster/memoryWriter/dat_o_21" BEL
        "temperatureControlMaster/memoryWriter/dat_o_17" BEL
        "temperatureControlMaster/memoryWriter/dat_o_13" BEL
        "temperatureControlMaster/memoryWriter/dat_o_9" BEL
        "temperatureControlMaster/memoryWriter/dat_o_5" BEL
        "temperatureControlMaster/memoryWriter/dat_o_1" BEL
        "temperatureControlMaster/memoryWriter/shift_r_down" BEL
        "temperatureControlMaster/memoryWriter/ctrl_l_down" BEL
        "temperatureControlMaster/memoryWriter/shift_l_down" BEL
        "temperatureControlMaster/memoryWriter/column_6" BEL
        "temperatureControlMaster/memoryWriter/column_5" BEL
        "temperatureControlMaster/memoryWriter/column_4" BEL
        "temperatureControlMaster/memoryWriter/column_3" BEL
        "temperatureControlMaster/memoryWriter/column_2" BEL
        "temperatureControlMaster/memoryWriter/column_1" BEL
        "temperatureControlMaster/memoryWriter/column_0" BEL
        "temperatureControlMaster/memoryWriter/alt_r_down" BEL
        "temperatureControlMaster/memoryWriter/ctrl_r_down" BEL
        "temperatureControlMaster/memoryWriter/row_6" BEL
        "temperatureControlMaster/memoryWriter/row_5" BEL
        "temperatureControlMaster/memoryWriter/row_4" BEL
        "temperatureControlMaster/memoryWriter/row_3" BEL
        "temperatureControlMaster/memoryWriter/row_2" BEL
        "temperatureControlMaster/memoryWriter/row_1" BEL
        "temperatureControlMaster/memoryWriter/row_0" BEL
        "temperatureControlMaster/memoryWriter/line_6" BEL
        "temperatureControlMaster/memoryWriter/line_5" BEL
        "temperatureControlMaster/memoryWriter/line_4" BEL
        "temperatureControlMaster/memoryWriter/line_3" BEL
        "temperatureControlMaster/memoryWriter/line_2" BEL
        "temperatureControlMaster/memoryWriter/line_1" BEL
        "temperatureControlMaster/memoryWriter/line_0" BEL
        "temperatureControlMaster/memoryWriter/isBackspace" BEL
        "temperatureControlMaster/memoryWriter/we_o" BEL
        "temperatureControlMaster/memoryWriter/cyc_o" BEL
        "temperatureControlMaster/memoryWriter/stb_o" BEL
        "temperatureControlMaster/memoryWriter/alt" BEL
        "temperatureControlMaster/memoryWriter/ctrl" BEL
        "temperatureControlMaster/memoryWriter/shift" BEL
        "temperatureControlMaster/memoryWriter/code_7" BEL
        "temperatureControlMaster/memoryWriter/code_6" BEL
        "temperatureControlMaster/memoryWriter/code_5" BEL
        "temperatureControlMaster/memoryWriter/code_4" BEL
        "temperatureControlMaster/memoryWriter/code_3" BEL
        "temperatureControlMaster/memoryWriter/code_2" BEL
        "temperatureControlMaster/memoryWriter/code_1" BEL
        "temperatureControlMaster/memoryWriter/code_0" BEL
        "temperatureControlMaster/memoryWriter/extended" BEL
        "temperatureControlMaster/memoryWriter/keyup" BEL "vga/state_FSM_FFd1"
        BEL "vga/word_count_6" BEL "vga/word_count_5" BEL "vga/word_count_4"
        BEL "vga/word_count_3" BEL "vga/word_count_2" BEL "vga/word_count_1"
        BEL "vga/word_count_0" BEL "vga/clk_divider/counter_0" BEL
        "vga/clk_divider/clk" BEL "wb_bram/state_FSM_FFd1" BEL
        "wb_bram/state_FSM_FFd2" BEL "wb_bram/data_reg_31" BEL
        "wb_bram/data_reg_30" BEL "wb_bram/data_reg_29" BEL
        "wb_bram/data_reg_28" BEL "wb_bram/data_reg_27" BEL
        "wb_bram/data_reg_26" BEL "wb_bram/data_reg_25" BEL
        "wb_bram/data_reg_24" BEL "wb_bram/data_reg_23" BEL
        "wb_bram/data_reg_22" BEL "wb_bram/data_reg_21" BEL
        "wb_bram/data_reg_20" BEL "wb_bram/data_reg_19" BEL
        "wb_bram/data_reg_18" BEL "wb_bram/data_reg_17" BEL
        "wb_bram/data_reg_16" BEL "wb_bram/data_reg_15" BEL
        "wb_bram/data_reg_14" BEL "wb_bram/data_reg_13" BEL
        "wb_bram/data_reg_12" BEL "wb_bram/data_reg_11" BEL
        "wb_bram/data_reg_10" BEL "wb_bram/data_reg_9" BEL
        "wb_bram/data_reg_8" BEL "wb_bram/data_reg_7" BEL "wb_bram/data_reg_6"
        BEL "wb_bram/data_reg_5" BEL "wb_bram/data_reg_4" BEL
        "wb_bram/data_reg_3" BEL "wb_bram/data_reg_2" BEL "wb_bram/data_reg_1"
        BEL "wb_bram/data_reg_0" BEL "wb_bram/bram_enable" BEL
        "wb_bram/bram_addr_8" BEL "wb_bram/bram_addr_7" BEL
        "wb_bram/bram_addr_6" BEL "wb_bram/bram_addr_5" BEL
        "wb_bram/bram_addr_4" BEL "wb_bram/bram_addr_3" BEL
        "wb_bram/bram_addr_2" BEL "wb_bram/bram_addr_1" BEL
        "wb_bram/bram_addr_0" BEL "wb_bram/bram_select_6" BEL
        "wb_bram/bram_select_5" BEL "wb_bram/bram_select_4" BEL
        "wb_bram/bram_select_3" BEL "wb_bram/bram_select_2" BEL
        "wb_bram/bram_select_1" BEL "wb_bram/bram_select_0" BEL
        "wb_bram/bram_we" BEL "wb_bram/bram_di_31" BEL "wb_bram/bram_di_28"
        BEL "wb_bram/bram_di_27" BEL "wb_bram/bram_di_23" BEL
        "wb_bram/bram_di_19" BEL "wb_bram/bram_di_15" BEL "wb_bram/bram_di_11"
        BEL "wb_bram/bram_di_7" BEL "wb_bram/bram_di_3" BEL
        "vga/word_count_0_1" BEL "vga/word_count_1_1" BEL
        "temperatureControlMaster/memoryWriter/row_3_1" BEL
        "vga/Mram_line_buffer112/SP" BEL "vga/Mram_line_buffer112/DP" BEL
        "vga/Mram_line_buffer111/SP" BEL "vga/Mram_line_buffer111/DP" BEL
        "vga/Mram_line_buffer1_RAMA" BEL "vga/Mram_line_buffer1_RAMB" BEL
        "vga/Mram_line_buffer1_RAMC" BEL "vga/Mram_line_buffer1_RAMD" BEL
        "vga/Mram_line_buffer10_RAMA" BEL "vga/Mram_line_buffer10_RAMB" BEL
        "vga/Mram_line_buffer10_RAMC" BEL "vga/Mram_line_buffer10_RAMD" BEL
        "vga/Mram_line_buffer2_RAMA" BEL "vga/Mram_line_buffer2_RAMB" BEL
        "vga/Mram_line_buffer2_RAMC" BEL "vga/Mram_line_buffer2_RAMD" BEL
        "vga/Mram_line_buffer3_RAMA" BEL "vga/Mram_line_buffer3_RAMB" BEL
        "vga/Mram_line_buffer3_RAMC" BEL "vga/Mram_line_buffer3_RAMD" BEL
        "vga/Mram_line_buffer4_RAMA" BEL "vga/Mram_line_buffer4_RAMB" BEL
        "vga/Mram_line_buffer4_RAMC" BEL "vga/Mram_line_buffer4_RAMD" BEL
        "vga/Mram_line_buffer5_RAMA" BEL "vga/Mram_line_buffer5_RAMB" BEL
        "vga/Mram_line_buffer5_RAMC" BEL "vga/Mram_line_buffer5_RAMD" BEL
        "vga/Mram_line_buffer6_RAMA" BEL "vga/Mram_line_buffer6_RAMB" BEL
        "vga/Mram_line_buffer6_RAMC" BEL "vga/Mram_line_buffer6_RAMD" BEL
        "vga/Mram_line_buffer7_RAMA" BEL "vga/Mram_line_buffer7_RAMB" BEL
        "vga/Mram_line_buffer7_RAMC" BEL "vga/Mram_line_buffer7_RAMD" BEL
        "vga/Mram_line_buffer8_RAMA" BEL "vga/Mram_line_buffer8_RAMB" BEL
        "vga/Mram_line_buffer8_RAMC" BEL "vga/Mram_line_buffer8_RAMD" BEL
        "vga/Mram_line_buffer9_RAMA" BEL "vga/Mram_line_buffer9_RAMB" BEL
        "vga/Mram_line_buffer9_RAMC" BEL "vga/Mram_line_buffer9_RAMD" PIN
        "temperatureControlMaster/memoryWriter/lut/bram1_pins<32>" PIN
        "temperatureControlMaster/memoryWriter/lut/bram2_pins<32>" PIN
        "wb_bram/gen1[0].bram_pins<63>" PIN "wb_bram/gen1[0].bram_pins<62>"
        PIN "wb_bram/gen1[100].bram_pins<63>" PIN
        "wb_bram/gen1[100].bram_pins<62>" PIN
        "wb_bram/gen1[101].bram_pins<63>" PIN
        "wb_bram/gen1[101].bram_pins<62>" PIN
        "wb_bram/gen1[102].bram_pins<63>" PIN
        "wb_bram/gen1[102].bram_pins<62>" PIN
        "wb_bram/gen1[103].bram_pins<63>" PIN
        "wb_bram/gen1[103].bram_pins<62>" PIN
        "wb_bram/gen1[104].bram_pins<63>" PIN
        "wb_bram/gen1[104].bram_pins<62>" PIN
        "wb_bram/gen1[105].bram_pins<63>" PIN
        "wb_bram/gen1[105].bram_pins<62>" PIN
        "wb_bram/gen1[106].bram_pins<63>" PIN
        "wb_bram/gen1[106].bram_pins<62>" PIN
        "wb_bram/gen1[107].bram_pins<63>" PIN
        "wb_bram/gen1[107].bram_pins<62>" PIN
        "wb_bram/gen1[108].bram_pins<63>" PIN
        "wb_bram/gen1[108].bram_pins<62>" PIN
        "wb_bram/gen1[109].bram_pins<63>" PIN
        "wb_bram/gen1[109].bram_pins<62>" PIN "wb_bram/gen1[10].bram_pins<63>"
        PIN "wb_bram/gen1[10].bram_pins<62>" PIN
        "wb_bram/gen1[110].bram_pins<63>" PIN
        "wb_bram/gen1[110].bram_pins<62>" PIN
        "wb_bram/gen1[111].bram_pins<63>" PIN
        "wb_bram/gen1[111].bram_pins<62>" PIN
        "wb_bram/gen1[112].bram_pins<63>" PIN
        "wb_bram/gen1[112].bram_pins<62>" PIN
        "wb_bram/gen1[113].bram_pins<63>" PIN
        "wb_bram/gen1[113].bram_pins<62>" PIN
        "wb_bram/gen1[114].bram_pins<63>" PIN
        "wb_bram/gen1[114].bram_pins<62>" PIN
        "wb_bram/gen1[115].bram_pins<63>" PIN
        "wb_bram/gen1[115].bram_pins<62>" PIN
        "wb_bram/gen1[116].bram_pins<63>" PIN
        "wb_bram/gen1[116].bram_pins<62>" PIN
        "wb_bram/gen1[117].bram_pins<63>" PIN
        "wb_bram/gen1[117].bram_pins<62>" PIN
        "wb_bram/gen1[118].bram_pins<63>" PIN
        "wb_bram/gen1[118].bram_pins<62>" PIN
        "wb_bram/gen1[119].bram_pins<63>" PIN
        "wb_bram/gen1[119].bram_pins<62>" PIN "wb_bram/gen1[11].bram_pins<63>"
        PIN "wb_bram/gen1[11].bram_pins<62>" PIN
        "wb_bram/gen1[120].bram_pins<63>" PIN
        "wb_bram/gen1[120].bram_pins<62>" PIN
        "wb_bram/gen1[121].bram_pins<63>" PIN
        "wb_bram/gen1[121].bram_pins<62>" PIN
        "wb_bram/gen1[122].bram_pins<63>" PIN
        "wb_bram/gen1[122].bram_pins<62>" PIN
        "wb_bram/gen1[123].bram_pins<63>" PIN
        "wb_bram/gen1[123].bram_pins<62>" PIN
        "wb_bram/gen1[124].bram_pins<63>" PIN
        "wb_bram/gen1[124].bram_pins<62>" PIN
        "wb_bram/gen1[125].bram_pins<63>" PIN
        "wb_bram/gen1[125].bram_pins<62>" PIN
        "wb_bram/gen1[126].bram_pins<63>" PIN
        "wb_bram/gen1[126].bram_pins<62>" PIN "wb_bram/gen1[12].bram_pins<63>"
        PIN "wb_bram/gen1[12].bram_pins<62>" PIN
        "wb_bram/gen1[13].bram_pins<63>" PIN "wb_bram/gen1[13].bram_pins<62>"
        PIN "wb_bram/gen1[14].bram_pins<63>" PIN
        "wb_bram/gen1[14].bram_pins<62>" PIN "wb_bram/gen1[15].bram_pins<63>"
        PIN "wb_bram/gen1[15].bram_pins<62>" PIN
        "wb_bram/gen1[16].bram_pins<63>" PIN "wb_bram/gen1[16].bram_pins<62>"
        PIN "wb_bram/gen1[17].bram_pins<63>" PIN
        "wb_bram/gen1[17].bram_pins<62>" PIN "wb_bram/gen1[18].bram_pins<63>"
        PIN "wb_bram/gen1[18].bram_pins<62>" PIN
        "wb_bram/gen1[19].bram_pins<63>" PIN "wb_bram/gen1[19].bram_pins<62>"
        PIN "wb_bram/gen1[1].bram_pins<63>" PIN
        "wb_bram/gen1[1].bram_pins<62>" PIN "wb_bram/gen1[20].bram_pins<63>"
        PIN "wb_bram/gen1[20].bram_pins<62>" PIN
        "wb_bram/gen1[21].bram_pins<63>" PIN "wb_bram/gen1[21].bram_pins<62>"
        PIN "wb_bram/gen1[22].bram_pins<63>" PIN
        "wb_bram/gen1[22].bram_pins<62>" PIN "wb_bram/gen1[23].bram_pins<63>"
        PIN "wb_bram/gen1[23].bram_pins<62>" PIN
        "wb_bram/gen1[24].bram_pins<63>" PIN "wb_bram/gen1[24].bram_pins<62>"
        PIN "wb_bram/gen1[25].bram_pins<63>" PIN
        "wb_bram/gen1[25].bram_pins<62>" PIN "wb_bram/gen1[26].bram_pins<63>"
        PIN "wb_bram/gen1[26].bram_pins<62>" PIN
        "wb_bram/gen1[27].bram_pins<63>" PIN "wb_bram/gen1[27].bram_pins<62>"
        PIN "wb_bram/gen1[28].bram_pins<63>" PIN
        "wb_bram/gen1[28].bram_pins<62>" PIN "wb_bram/gen1[29].bram_pins<63>"
        PIN "wb_bram/gen1[29].bram_pins<62>" PIN
        "wb_bram/gen1[2].bram_pins<63>" PIN "wb_bram/gen1[2].bram_pins<62>"
        PIN "wb_bram/gen1[30].bram_pins<63>" PIN
        "wb_bram/gen1[30].bram_pins<62>" PIN "wb_bram/gen1[31].bram_pins<63>"
        PIN "wb_bram/gen1[31].bram_pins<62>" PIN
        "wb_bram/gen1[32].bram_pins<63>" PIN "wb_bram/gen1[32].bram_pins<62>"
        PIN "wb_bram/gen1[33].bram_pins<63>" PIN
        "wb_bram/gen1[33].bram_pins<62>" PIN "wb_bram/gen1[34].bram_pins<63>"
        PIN "wb_bram/gen1[34].bram_pins<62>" PIN
        "wb_bram/gen1[35].bram_pins<63>" PIN "wb_bram/gen1[35].bram_pins<62>"
        PIN "wb_bram/gen1[36].bram_pins<63>" PIN
        "wb_bram/gen1[36].bram_pins<62>" PIN "wb_bram/gen1[37].bram_pins<63>"
        PIN "wb_bram/gen1[37].bram_pins<62>" PIN
        "wb_bram/gen1[38].bram_pins<63>" PIN "wb_bram/gen1[38].bram_pins<62>"
        PIN "wb_bram/gen1[39].bram_pins<63>" PIN
        "wb_bram/gen1[39].bram_pins<62>" PIN "wb_bram/gen1[3].bram_pins<63>"
        PIN "wb_bram/gen1[3].bram_pins<62>" PIN
        "wb_bram/gen1[40].bram_pins<63>" PIN "wb_bram/gen1[40].bram_pins<62>"
        PIN "wb_bram/gen1[41].bram_pins<63>" PIN
        "wb_bram/gen1[41].bram_pins<62>" PIN "wb_bram/gen1[42].bram_pins<63>"
        PIN "wb_bram/gen1[42].bram_pins<62>" PIN
        "wb_bram/gen1[43].bram_pins<63>" PIN "wb_bram/gen1[43].bram_pins<62>"
        PIN "wb_bram/gen1[44].bram_pins<63>" PIN
        "wb_bram/gen1[44].bram_pins<62>" PIN "wb_bram/gen1[45].bram_pins<63>"
        PIN "wb_bram/gen1[45].bram_pins<62>" PIN
        "wb_bram/gen1[46].bram_pins<63>" PIN "wb_bram/gen1[46].bram_pins<62>"
        PIN "wb_bram/gen1[47].bram_pins<63>" PIN
        "wb_bram/gen1[47].bram_pins<62>" PIN "wb_bram/gen1[48].bram_pins<63>"
        PIN "wb_bram/gen1[48].bram_pins<62>" PIN
        "wb_bram/gen1[49].bram_pins<63>" PIN "wb_bram/gen1[49].bram_pins<62>"
        PIN "wb_bram/gen1[4].bram_pins<63>" PIN
        "wb_bram/gen1[4].bram_pins<62>" PIN "wb_bram/gen1[50].bram_pins<63>"
        PIN "wb_bram/gen1[50].bram_pins<62>" PIN
        "wb_bram/gen1[51].bram_pins<63>" PIN "wb_bram/gen1[51].bram_pins<62>"
        PIN "wb_bram/gen1[52].bram_pins<63>" PIN
        "wb_bram/gen1[52].bram_pins<62>" PIN "wb_bram/gen1[53].bram_pins<63>"
        PIN "wb_bram/gen1[53].bram_pins<62>" PIN
        "wb_bram/gen1[54].bram_pins<63>" PIN "wb_bram/gen1[54].bram_pins<62>"
        PIN "wb_bram/gen1[55].bram_pins<63>" PIN
        "wb_bram/gen1[55].bram_pins<62>" PIN "wb_bram/gen1[56].bram_pins<63>"
        PIN "wb_bram/gen1[56].bram_pins<62>" PIN
        "wb_bram/gen1[57].bram_pins<63>" PIN "wb_bram/gen1[57].bram_pins<62>"
        PIN "wb_bram/gen1[58].bram_pins<63>" PIN
        "wb_bram/gen1[58].bram_pins<62>" PIN "wb_bram/gen1[59].bram_pins<63>"
        PIN "wb_bram/gen1[59].bram_pins<62>" PIN
        "wb_bram/gen1[5].bram_pins<63>" PIN "wb_bram/gen1[5].bram_pins<62>"
        PIN "wb_bram/gen1[60].bram_pins<63>" PIN
        "wb_bram/gen1[60].bram_pins<62>" PIN "wb_bram/gen1[61].bram_pins<63>"
        PIN "wb_bram/gen1[61].bram_pins<62>" PIN
        "wb_bram/gen1[62].bram_pins<63>" PIN "wb_bram/gen1[62].bram_pins<62>"
        PIN "wb_bram/gen1[63].bram_pins<63>" PIN
        "wb_bram/gen1[63].bram_pins<62>" PIN "wb_bram/gen1[64].bram_pins<63>"
        PIN "wb_bram/gen1[64].bram_pins<62>" PIN
        "wb_bram/gen1[65].bram_pins<63>" PIN "wb_bram/gen1[65].bram_pins<62>"
        PIN "wb_bram/gen1[66].bram_pins<63>" PIN
        "wb_bram/gen1[66].bram_pins<62>" PIN "wb_bram/gen1[67].bram_pins<63>"
        PIN "wb_bram/gen1[67].bram_pins<62>" PIN
        "wb_bram/gen1[68].bram_pins<63>" PIN "wb_bram/gen1[68].bram_pins<62>"
        PIN "wb_bram/gen1[69].bram_pins<63>" PIN
        "wb_bram/gen1[69].bram_pins<62>" PIN "wb_bram/gen1[6].bram_pins<63>"
        PIN "wb_bram/gen1[6].bram_pins<62>" PIN
        "wb_bram/gen1[70].bram_pins<63>" PIN "wb_bram/gen1[70].bram_pins<62>"
        PIN "wb_bram/gen1[71].bram_pins<63>" PIN
        "wb_bram/gen1[71].bram_pins<62>" PIN "wb_bram/gen1[72].bram_pins<63>"
        PIN "wb_bram/gen1[72].bram_pins<62>" PIN
        "wb_bram/gen1[73].bram_pins<63>" PIN "wb_bram/gen1[73].bram_pins<62>"
        PIN "wb_bram/gen1[74].bram_pins<63>" PIN
        "wb_bram/gen1[74].bram_pins<62>" PIN "wb_bram/gen1[75].bram_pins<63>"
        PIN "wb_bram/gen1[75].bram_pins<62>" PIN
        "wb_bram/gen1[76].bram_pins<63>" PIN "wb_bram/gen1[76].bram_pins<62>"
        PIN "wb_bram/gen1[77].bram_pins<63>" PIN
        "wb_bram/gen1[77].bram_pins<62>" PIN "wb_bram/gen1[78].bram_pins<63>"
        PIN "wb_bram/gen1[78].bram_pins<62>" PIN
        "wb_bram/gen1[79].bram_pins<63>" PIN "wb_bram/gen1[79].bram_pins<62>"
        PIN "wb_bram/gen1[7].bram_pins<63>" PIN
        "wb_bram/gen1[7].bram_pins<62>" PIN "wb_bram/gen1[80].bram_pins<63>"
        PIN "wb_bram/gen1[80].bram_pins<62>" PIN
        "wb_bram/gen1[81].bram_pins<63>" PIN "wb_bram/gen1[81].bram_pins<62>"
        PIN "wb_bram/gen1[82].bram_pins<63>" PIN
        "wb_bram/gen1[82].bram_pins<62>" PIN "wb_bram/gen1[83].bram_pins<63>"
        PIN "wb_bram/gen1[83].bram_pins<62>" PIN
        "wb_bram/gen1[84].bram_pins<63>" PIN "wb_bram/gen1[84].bram_pins<62>"
        PIN "wb_bram/gen1[85].bram_pins<63>" PIN
        "wb_bram/gen1[85].bram_pins<62>" PIN "wb_bram/gen1[86].bram_pins<63>"
        PIN "wb_bram/gen1[86].bram_pins<62>" PIN
        "wb_bram/gen1[87].bram_pins<63>" PIN "wb_bram/gen1[87].bram_pins<62>"
        PIN "wb_bram/gen1[88].bram_pins<63>" PIN
        "wb_bram/gen1[88].bram_pins<62>" PIN "wb_bram/gen1[89].bram_pins<63>"
        PIN "wb_bram/gen1[89].bram_pins<62>" PIN
        "wb_bram/gen1[8].bram_pins<63>" PIN "wb_bram/gen1[8].bram_pins<62>"
        PIN "wb_bram/gen1[90].bram_pins<63>" PIN
        "wb_bram/gen1[90].bram_pins<62>" PIN "wb_bram/gen1[91].bram_pins<63>"
        PIN "wb_bram/gen1[91].bram_pins<62>" PIN
        "wb_bram/gen1[92].bram_pins<63>" PIN "wb_bram/gen1[92].bram_pins<62>"
        PIN "wb_bram/gen1[93].bram_pins<63>" PIN
        "wb_bram/gen1[93].bram_pins<62>" PIN "wb_bram/gen1[94].bram_pins<63>"
        PIN "wb_bram/gen1[94].bram_pins<62>" PIN
        "wb_bram/gen1[95].bram_pins<63>" PIN "wb_bram/gen1[95].bram_pins<62>"
        PIN "wb_bram/gen1[96].bram_pins<63>" PIN
        "wb_bram/gen1[96].bram_pins<62>" PIN "wb_bram/gen1[97].bram_pins<63>"
        PIN "wb_bram/gen1[97].bram_pins<62>" PIN
        "wb_bram/gen1[98].bram_pins<63>" PIN "wb_bram/gen1[98].bram_pins<62>"
        PIN "wb_bram/gen1[99].bram_pins<63>" PIN
        "wb_bram/gen1[99].bram_pins<62>" PIN "wb_bram/gen1[9].bram_pins<63>"
        PIN "wb_bram/gen1[9].bram_pins<62>" BEL "vga/Mram_line_buffer121/DP"
        BEL "vga/Mram_line_buffer121/SP" BEL "vga/Mram_line_buffer122/DP" BEL
        "vga/Mram_line_buffer122/SP" BEL "vga/Mram_line_buffer123/DP" BEL
        "vga/Mram_line_buffer123/SP" BEL "vga/Mram_line_buffer131/DP" BEL
        "vga/Mram_line_buffer131/SP" BEL "vga/Mram_line_buffer132/DP" BEL
        "vga/Mram_line_buffer132/SP" BEL "vga/Mram_line_buffer133/DP" BEL
        "vga/Mram_line_buffer133/SP" BEL "vga/Mram_line_buffer141/DP" BEL
        "vga/Mram_line_buffer141/SP" BEL "vga/Mram_line_buffer142/DP" BEL
        "vga/Mram_line_buffer142/SP" BEL "vga/Mram_line_buffer143/DP" BEL
        "vga/Mram_line_buffer143/SP" BEL "vga/Mram_line_buffer151/DP" BEL
        "vga/Mram_line_buffer151/SP" BEL "vga/Mram_line_buffer152/DP" BEL
        "vga/Mram_line_buffer152/SP" BEL "vga/Mram_line_buffer153/DP" BEL
        "vga/Mram_line_buffer153/SP" BEL "vga/Mram_line_buffer161/DP" BEL
        "vga/Mram_line_buffer161/SP" BEL "vga/Mram_line_buffer162/DP" BEL
        "vga/Mram_line_buffer162/SP" BEL "vga/Mram_line_buffer163/DP" BEL
        "vga/Mram_line_buffer163/SP" BEL "vga/Mram_line_buffer171/DP" BEL
        "vga/Mram_line_buffer171/SP" BEL "vga/Mram_line_buffer172/DP" BEL
        "vga/Mram_line_buffer172/SP" BEL "vga/Mram_line_buffer173/DP" BEL
        "vga/Mram_line_buffer173/SP" BEL "vga/Mram_line_buffer181/DP" BEL
        "vga/Mram_line_buffer181/SP" BEL "vga/Mram_line_buffer182/DP" BEL
        "vga/Mram_line_buffer182/SP" BEL "vga/Mram_line_buffer183/DP" BEL
        "vga/Mram_line_buffer183/SP" BEL "vga/Mram_line_buffer191/DP" BEL
        "vga/Mram_line_buffer191/SP" BEL "vga/Mram_line_buffer192/DP" BEL
        "vga/Mram_line_buffer192/SP" BEL "vga/Mram_line_buffer193/DP" BEL
        "vga/Mram_line_buffer193/SP" BEL "vga/Mram_line_buffer201/DP" BEL
        "vga/Mram_line_buffer201/SP" BEL "vga/Mram_line_buffer202/DP" BEL
        "vga/Mram_line_buffer202/SP" BEL "vga/Mram_line_buffer203/DP" BEL
        "vga/Mram_line_buffer203/SP" BEL "vga/Mram_line_buffer211/DP" BEL
        "vga/Mram_line_buffer211/SP" BEL "vga/Mram_line_buffer212/DP" BEL
        "vga/Mram_line_buffer212/SP" BEL "vga/Mram_line_buffer213/DP" BEL
        "vga/Mram_line_buffer213/SP" BEL "vga/Mram_line_buffer221/DP" BEL
        "vga/Mram_line_buffer221/SP" BEL "vga/Mram_line_buffer222/DP" BEL
        "vga/Mram_line_buffer222/SP";
PIN clock200_inst/mmcm_adv_inst_pins<2> = BEL "clock200_inst/mmcm_adv_inst"
        PINNAME CLKIN1;
TIMEGRP sys_clk_pin = PIN "clock200_inst/mmcm_adv_inst_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
TS_clock200_inst_clkout0 = PERIOD TIMEGRP "clock200_inst_clkout0"
        TS_sys_clk_pin HIGH 50%;
SCHEMATIC END;

